@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
  --Pcolor: #514EFF ;
  --Scolor: #4240DB;
  --Bcolor: #FFFFFF;
  --Bbcolor: #BFBFBF;
  --Bgcolor: #F0F0F0;
}

*{
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
}

body{
  background: var(--Bgcolor);
}


.menu{
  display: flex;
}

.side-bar{
  background: var(--Bcolor);
  box-shadow: 1px 0px 3px var(--Bbcolor);
  width: 5%;
  height: 100%;
  display: block;
  position: absolute;
}

  .nav-bar{
    background: var(--Bcolor);
    box-shadow: 0px 1px 3px var(--Bbcolor);
    display:flex;
    width: 95%;
    height: 10%;
    padding: 1%;
    position: relative;
    left: 5%;
    justify-content: space-between;
    align-items: center;
    
    .logo{
      width: 10%;
    }

    .inputMenu{
      border-radius: 5px;
      border-color: var(--Bbcolor);
      box-shadow: 0px 1px 3px var(black);
      width: 44%;
      height: 44px;
      }
}

